[submodule "Polyweb"]
	path = Polyweb
	url = https://github.com/BlueCannonBall/Polyweb.git
[submodule "SJSON"]
	path = SJSON
	url = https://github.com/Sopur/SJSON.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
